header {
    height: 100px;
    width: 100%;
    background: white;
}

nav {
    background: $bg--dk-grey-alt;
    position: fixed;
    z-index: 100;
    width: 300px;
    right: -300px;
    top: 200px;
    transition: right 300ms ease-out;
    padding-top: 80px;
    padding-bottom: 80px;

    a {
        color: $text--mint;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 3em;


    }
}

nav.expanded {
    right: 0;
}

.section {
    position: relative;
}

.content {
    background: rgba(255, 255, 255, .75);
    height: 100vh;
    // padding: 220px 120px 120px 120px;
    position: relative;

    h2 {
        color: $text--grey;
        margin-bottom: 2em;
    }

}



    .bg-three-women {
        background: url(assets/img/3-women.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-art-director {
        background: url(assets/img/art-director.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-containers {
        background: url(assets/img/containers.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-glasses {
        background: url(assets/img/glasses.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-iphone {
        background: url(assets/img/iphone.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-redmond-window {
        background: url(assets/img/redmond-window.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-small-table {
        background: url(assets/img/small-table.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-surface {
        background: url(assets/img/surface.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-tablet-smiling {
        background: url(assets/img/tablet-smiling.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-white-paper {
        background: url(assets/img/white-paper.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-crowd {
        background: url(assets/img/crowd.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-crowd-2 {
        background: url(assets/img/crowd-2.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-flat-screen {
        background: url(assets/img/flat-screen.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-silhouette {
        background: url(assets/img/silhouette.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-sunset {
        background: url(assets/img/sunset.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-sweaters {
        background: url(assets/img/sweaters.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-two-women {
        background: url(assets/img/two-women.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-view {
        background: url(assets/img/view.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-grass {
        background: url(assets/img/grass.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }









    .fp-tableCell {
        display: inline-block;
    }

    .navbar-nav {
        list-style-type: none;
    }

    .grey-bg {
        background-color: $bg--grey;

        h1,
        h2,
        h3,
        p {
            color: $text--white;
        }



        p {
            margin-bottom: 1em
        }

    }


    .green-bg {

        background-color: $text--btn-link;

        h1,
        h2,
        h3,
        p {
            color: $text--white;
        }

        p {
            margin-bottom: 1em
        }

    }

    .light-grey-bg {
        background-color: $bg--light-grey;

        h2 {
            color: $text--dk-grey;
        }
    }

    .dk-grey-bg {
        background-color: $bg--dk-grey;
    }

    .stage {
        position: relative;
        display: inherit;
        height: 30px;



    .stage-stroke {
        background: #3c3c41;
        height: 1px;
        width: 25px;
        color: transparent;
        float: left;
        margin-right: 10px;
        transition: width 0.5s ease,
    }

    &.active{
         .stage-stroke {
            width: 50px;
    }

    .stage-name{
        display: inline-block;
            opacity: 1;
    }
   
}
        .stage-name {
            top: -10px;
            position: absolute;
                        display: inline-block;
            opacity: 0;
            text-transform: uppercase;
            transition: opacity 0.5s ease;

            a {
                cursor: pointer;
                font-family: $segoe--semi;
                font-weight: $semi-bold;
                text-decoration: none;

                &:hover {
                    color: $text--btn-link;
                }
            }
        }

        &:hover{
            .stage-name {
            display: inline-block;
            opacity: 1;
        }

        .stage-stroke {
            width: 50px;
        }

        }

    }


    // .stage-lines {
    //     border-left: 1px solid #3c3c41;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 60px;
    //     padding-top: 40px;
    //     width: 150px;

    // }






    .bottom-fix {
        bottom: 20px;
        left: 50%;
        margin-left: -20px;
        position: absolute;
    }

    .section.fp-auto-height.grey-bg.first-panel.fp-section.fp-table,
    .first-panel {
        height: 80vh
    }



    .top-pad-max {
        padding-top: 8em
    }


    .top-pad-xxl {
        padding-top: 4em
    }



    .top-pad-xl {
        padding-top: 3em
    }

    .top-pad-lg {
        padding-top: 1.5em
    }

    .top-pad-md {
        padding-top: 1em
    }

    .top-pad-sm {
        padding-top: .5em
    }



    .btm-pad-xxl {
        padding-bottom: 4em
    }

    .btm-pad-xl {
        padding-bottom: 3em
    }

    .btm-pad-lg {
        padding-bottom: 1.5em
    }

    .btm-pad-md {
        padding-bottom: 1em
    }

    .btm-pad-sm {
        padding-bottom: .5em
    }


    .down-arrow {
        background: url(assets/down-arrow.svg) no-repeat;
        color: transparent;
        cursor: pointer;
        font-size: 0;
        width: 40px;

        &.dark {
            background: url(assets/down-arrow-dark.svg) no-repeat;
        }
    }

    .menu {
        background: url(assets/menu-icon.svg) no-repeat;
        color: transparent;
        cursor: pointer;
        float: right;
        font-size: 0;
        width: 40px;
    }

    .header-logo {
        margin: 40px 0px 10px 0;
        height: 30px;
        float: left;
    }


    .relative {
        position: relative;
    }


    .section-title {
        font-family: $segoe--semi;
        font-weight: $semi-bold;
        text-transform: uppercase;
    }


    .stage-section {}

    .col-md-6 {
        &.grey-bg {
            h2 {
                font-size: 3.5em;
            }
        }
    }

    .no-pad {
        padding: 0;
    }

    .no-left-pad{
        padding-left: 0;
    }

    .no-margin {
        margin: 0;
    }



    .bg-white {
        background-color: $bg--white;
    }


    h3 {
        &.dk-green {
            color: $text--btn-link;
            font-family: $segoe--semi;
            font-weight: $semi-bold;
        }
    }

    ul {

        list-style-type: none;

        .nav-item {
            margin-bottom: 0;
        }

        &.secondary-list {
            margin-top: 1.6em;
            padding-left: 0;
        }

        &.left-border {

            margin-top: 0;


            li {

                padding-bottom: 10px;

                .stage-item {
                    font-size: .8em;
                    line-height: 2.2em;
                }

                .title {
                    font-size: 1.2em;
                    line-height: 1.4em;
                }


                border-left: 15px solid white;
                padding-left: 15px;
                cursor: pointer;
                transition: color 0.5s ease,
                border-left 0.5s ease;

                &:hover {
                    border-left: 15px solid $bg--light-grey;
                    color: $text--btn-link;
                    padding-left: 15px;


                   a{
                                        color: $text--btn-link;
                   } 

                }

            }
        }

        li {
            margin-bottom: 1em;
            font-family: $segoe--semi;
            font-weight: $semi-bold;
            font-size: 1.2em;





            .circle {
                background: $bg--dk-grey;
                border-radius: 30px;
                color: $text--mint;
                display: inline-block;
                height: 60px;
                width: 60px;
                text-align: center;
                padding-top: 18px;
                margin-right: 10px;
            }
        }
    }


    .relative {
        position: relative;
    }

.stage-line{
  height: 100vh;

    position: relative;
.stage{
    // position: absolute;

    // left: 0;
    // width: 100%;

&:first-child{
        top: 20px;
}
&:nth-child(2){
        top: 40px;
}

&:nth-child(3){
        top: 60px;
}

&:nth-child(4){
        top: 80px;
}

&:nth-child(5){
        top: 100px;
}




}

}

.stage-line-border{
  border-left: 1px solid #3c3c41;
}


.stage-box{
    height: 300px;
    padding-top: 40px;
}



