// Typography declaration

body {
  font-family: $segoe;
  font-size: 16px;
  line-height: 22px;
  color: $text--default;
}

h1 {
  color: $text--dk-grey;
  font-family: $segoe--semi;
  font-weight: $semi-bold;
  font-size: 3.5em;
  line-height: 1.2em;
  margin: 0 0 .3em 0;
  padding: 0;
}

h2 {
  font-family: $segoe--semi;
  font-weight: $semi-bold;
  font-size: 2.75em;
  line-height: 1.2em;
  margin: 0 0 .3em 0;
  padding: 0;
}

h3 {
  font-family: $segoe;
  font-weight: $normal;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 .3em 0;
  padding: 0;
}

h4 {
  font-family: $segoe--semi;
  font-weight: $semi-bold;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

p {
  color: $text--dk-grey;
  font-family: $segoe;
  font-weight: $normal;
  font-size: 1em;
  line-height: 1.8em;
  margin: 0 0 1.5emw 0;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }

  &.size-md{
    font-family: $segoe--semi;
    font-weight: $semi-bold;
    font-size: 1.2em;
    margin-bottom: .5em;
    margin-top: .5em;

    a{
      color: $text--white;
    }

  }

}

strong {
  font-family: $segoe--semi;
  font-weight: $semi-bold;
}

a {
  font-family: $segoe--semi;
  font-weight: $semi-bold;
  font-size: 1em;
}

// Custom highlight state
::selection {
  background: $bg--blue; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $bg--blue; /* Gecko Browsers */
  color: #fff;
}


a{

  color: $text--dk-grey;
  cursor: pointer;
  text-decoration: none;

&.header-sign-in{
    position: absolute;
    width: 100px;
    right: 10px;
    bottom: 6px;
}


  &.btn{
    color: $text--btn-link;
    background-color: $bg--white;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;

    &.dark-btn{
        color: $text--mint;
        background-color: $bg--dk-grey;
        &.white-txt{
          color: $text--white;
        }
    }
  }
}

.text-right{
  text-align: right;
}



.green-text{
  color: $text--btn-link;
}


.quote{
  color: $text--white;
  font-family: $segoe--semi;
  font-weight: $semi-bold;
  font-size: 1.8em;
  line-height: 1.4em;
}

.bold{
   font-family: $segoe--semi;
  font-weight: $semi-bold; 
}



h2{
  color: $text--dk-grey;
}